<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
	
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">  
	
   <script src="../assets/js/jquery-1.8.1.min.js"></script>   
   <script src="../assets/js/underscore.js"></script>
   <script src="../assets/js/backbone-min.js"></script>


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">		

<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
								   
  </head>
<style>
body {
  text-align: center;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #D8DFE9 100%);
  background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, #D8DFE9 100%);
}


</style>

 <style>
 .content{
     position: relative;
	margin-top:140px;	 
 }
 
 .gallery{
    margin-top:140px;
 }
 </style>
  <body>
    <div class="wrapper">
	    <div class="inner-wrapper">

            <% include header %>	

	        <div class="container-fluid content">	              
                <% include course/course_list2 %>		
            </div>

            <% include footer %>
			
		</div>
	</div>				
  </body>

</html>