<style>
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/poiretone/v1/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


.brand h1 {

  margin: 0;
  font-size: 0.8em;
  text-align: center;
  color: #A5A6A8;
    
}

.brand h1 span {
  color: #5bb8ce;
}

.navbar {
  font-family:'Open Sans', sans;
margin-bottom: 0px;
border-top: #5bb8ce 1px solid;
display: block;

}

.navbar-inner{
z-index: 101;
}

.navbar .brand {
display: block;
float: left;
padding: 0px 20px 0px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #777777;
text-shadow: 0 1px 0 #ffffff;
}

.container-fluid {
width: 1208px;
max-width: 100%;
min-width: 768px;
margin: 0 auto;
}

.navbar .nav > li > a {
padding: 10px 15px 5px;
}

.b-userbar__account {
  padding: 0 36px 0 22px;
  position: relative;

}

.b-userbar__account:hover {
  color: #9F9F9F;
}

.b-userbar__account:hover .b-arrow {
  opacity: .75;
}

.b-userbar__account-avatar {
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.b-userbar__account-name {
  font-weight: bold;
}

.b-userbar__icons-item,
.b-userbar__account {
  height: 25px;
  padding-top: 21px;
  padding-bottom: 21px;
  line-height: 25px;
  color: #8F8F8F;
  text-decoration: none;
  cursor: pointer;
}

.b-userbar__icons-item-notify {
  background: #D8232A;
  font-size: 10px;
  line-height: 13px;
  font-weight: bold;
  color: #fff;
  padding: 0 2px;
  border-radius: 2px;
  position: absolute;
  top: 30%;
  left: 60%;
}


.navbar ul li a
{
   
transition: color .3s ease;

   
}
.navbar ul li a:hover{
  color:#222;  
}

.navbar ul li a.active{
  color: #777;
  font-weight:bold;
  cursor: default;
}


h4.logo{

  font-family:'Poiret One',sans;
  text-align:center;
  color:#666;
  text-shadow:0px 1px 2px rgba(0,0,0,0.3);
}
h4.logo p:nth-of-type(1){
  color:#0089ab;
}
h4.logo p:nth-of-type(2){
  color:#d91821;
}
h4.logo span:nth-of-type(3){
  color:#ffac05;
}
h4.logo span:nth-of-type(4){
  color:#0089ab;
}
h4.logo span:nth-of-type(5){
  color:#88c406;
}
h4.logo span:nth-of-type(6){
  color:#d91821;
}


.Notifications,  .User-menu {
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
-ms-border-radius: 3px 3px 0 0;
-o-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
background-color: #F0F0F0;
width: 320px;
padding: 0px 0;
}

.Notifications ul{
list-style-type: none;
}

.Notifications .notifHeader {
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
-ms-border-radius: 3px 3px 0 0;
-o-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),0 2px 3px rgba(0,0,0,0.05);
-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),0 2px 3px rgba(0,0,0,0.05);
box-shadow: 0 1px 0 rgba(0,0,0,0.1),0 2px 3px rgba(0,0,0,0.05);
padding: 10px;
background-color: #f5f5f5;
}

.Notifications .notifContent {
bottom: 20px;
height: auto;
left: 0;
overflow: auto;
z-index: 2;
margin: 0px 0px 0px 4px;
}

.Notifications .notifContent li:hover {
background-color: #f5f5ff;
}

.Notifications .notifFooter {
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
-ms-border-radius: 0 0 3px 3px;
-o-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.1),0 -2px 3px rgba(0,0,0,0.05);
-moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1),0 -2px 3px rgba(0,0,0,0.05);
box-shadow: 0 -1px 0 rgba(0,0,0,0.1),0 -2px 3px rgba(0,0,0,0.05);
bottom: 0;
height: 20px;
}

.Notifications .notifTitle {
font-size: 13px;
font-weight: 700;
margin-left: 10px;
line-height: 0px;
}

.Notifications .notifSettings {
color: #777;
cursor: pointer;
font-size: 12px;
position: absolute;
right: 10px;
top: 11px;
z-index: 3;
}

.Notifications .notifItem{
overflow: hidden;
border-bottom: 1px solid #ddd;
color: #666;
cursor: pointer;
}


.User-menu ul a{
font-size: 12px;
padding: 6px 47px;
}

.User-menu li {
overflow: hidden;
color: #777;
display: block;
font-size: 12px;
text-align: center;
}

.User-menu li a {
-webkit-font-smoothing: antialiased;
font-family: 'Helvetica', sans-serif;
font-weight: bold;
color: #777;
cursor: pointer;
display: block;
padding: 9px 14px;
}



.User-menu li a:hover{
background: #E9E9E9;
}

.Notifications .notifItem:last-child {
border: none;
}

.actorImages {
left: 0;
padding: 10px 5px;
position: absolute;
}

.notifMessage {
float: left;
font-size: 12px;
font-weight: 500;
margin: 10px 52px;
line-height: 15px;
}

span img {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
height: 33px;
width: 33px;
}

.notifMessage .timesince {
color: #a2a2a2;
display: block;
font-size: 11px;
font-weight: 700;
white-space: nowrap;
}

</style>


<style>
.btn-cta {
background: #ef5075;
font-size: 13px;
letter-spacing: 0.05em;
padding: 8px 40px;
margin: 0 0 0 20px;
}

.popover{
width: 120px;
}

.popover li a {
display: inline;
float: left;
text-align: center;
background: #00a9a9;
color: #fff;
margin: 3px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 5px 0;
font-weight: 400;
letter-spacing: 0.05em;
padding-left: 20px;
padding-right: 20px;
}

.popover li a {
color: #0088cc;
text-decoration: none;
}


#btn-logout{
-webkit-font-smoothing: antialiased;
font-family: 'Helvetica', sans-serif;
font-weight: bold;
color: #777;
cursor: pointer;
display: block;
padding: 9px 14px;
margin: auto;
font-size: 12px;

  border: 1px solid #F0F0F0;
  font-weight: bold;
}
</style>
<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul id="global-nav" class="nav pull-left">
	    <a href="/" class="brand">
            <h1>Feyn<span>labs<small><sup>&trade;</sup></small><span></h1>	  
	    </a>
	 <!--	
		<li class="">
                <a href="/discover/course" class="menu_item">Discovery</a>
        </li>    
		<li class="">
            <a href="/new/course"  class="menu_item">Start Course</a>
        </li>
	-->		


	  </ul>
	  
	  <% if(locals.user) { %>	  
	  
       <ul class="nav pull-right row"> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><%= locals.user.username %></a>
          <ul class="dropdown-menu  User-menu" style="width:160px;">
		    <li class="notifItem"><a href="/profile/<%= locals.user.username %>">Dashboard</a></li>
            <li class="notifItem"><a href="/settings/profile">Edit Profile</a></li>
            <li class="notifItem"><a href="/settings/account">Account</a></li>
		    <li class="notifItem">  
		      <form method="POST" class="form-inline" action="/sessions" enctype="application/x-www-form-urlencoded">
	             <input type="hidden" name="_csrf" value="<%= token %>"/>
			     <input type="hidden" name="_method" value="delete" />			 
			     <input id="btn-logout" type="submit" value="Sign Out"></input>			 
              </form>
		    </li>						
          </ul>
        </li>
       </ul>



	  <ul class="nav pull-right row">
        <li class="dropdown ">
		  
	     <a href="#" class="b-userbar__account class="dropdown-toggle" data-toggle="dropdown"">
		            <% if(locals.user.img) { %>
                        <img src="/images/<%= locals.user.img %>" width="21" height="21" alt="User avatar" class="b-userbar__account-avatar">
					<% } %>
					<% if(!locals.user.img) { %>
                        <img src="/default_user.jpeg" width="21" height="21" alt="User avatar" class="b-userbar__account-avatar">					
					<% } %>
			<span class="b-userbar__icons-item-notify"></span>		
         </a>		  
          <ul class="dropdown-menu Notifications">
		    <div class="notifHeader">
	            <h1 class="notifTitle">Notifications</h1>
	            <a class="notifSettings">Edit</a>
            </div>
			<ul class="notifContent">
			   <!--
                <li class="notifItem">
                        <div class="actorImages">
                            <a data-actor-id="313563330214114585" class="actorImage active" href="/isiprinos/">
                                <span><img src="http://media-cache-ec0.pinimg.com/avatars/isiprinos_1374959866_75.jpg"></span>
                            </a>
                        </div>
                        <p class="notifMessage">
                            Your Facebook friends <a href="/isiprinos/" data-actor-id="313563330214114585">Isidoros Prinos</a> and <a href="/kevin7363881/" data-actor-id="303641337285062950">Kai Liu</a> joined Pinterest.
                            <span class="timesince">9 weeks ago</span>
                        </p>
                </li>
                <li class="notifItem">
                        <div class="actorImages">
                            <a data-actor-id="313563330214114585" class="actorImage active" href="/isiprinos/">
                                <span><img src="http://media-cache-ec0.pinimg.com/avatars/isiprinos_1374959866_75.jpg"></span>
                            </a>
                        </div>
                        <p class="notifMessage">
                            Your Facebook friends <a href="/isiprinos/" data-actor-id="313563330214114585">Isidoros Prinos</a> and <a href="/kevin7363881/" data-actor-id="303641337285062950">Kai Liu</a> joined Pinterest.
                            <span class="timesince">9 weeks ago</span>
                        </p>
                </li>
				-->
			</ul>	
            <div class="notifFooter"></div>			
          </ul>
        </li>	  
	  </ul>
	   
	  <% } %>
	  
	  
	  
	  <% if(!locals.user) { %>
	    <ul class="nav pull-right row">
            <li><a href="/login">Login</a></li>			
            <li><a href="/signup">Signup</a></li>
        </ul>
	  <% } %>
    </div>
  </div>
</div>

<script>

var pathname = window.location.pathname;
console.log(pathname);
console.log('cid  ',pathname.split('/')[2]);
var courseid = pathname.split('/')[2];


</script>