<style>
#sidebar{
margin-bottom: 20px;
padding: 20px;
background: #fff;
border: 1px solid #DEDEDE;
border-radius: 4px;
box-shadow: 0 2px 2px -1px rgba(0,0,0,.055);
text-align: left;
}

#sidebar ul li {
border-bottom: 1px solid #eee;
line-height: 28px;
width: 160px;
}

.portlet-decoration {
border-bottom: 1px solid #CCC;
margin-bottom: 15px;
padding-bottom: 5px;
}
</style>

	    <div id="sidebar" class="span2">
		    <div class="portlet-decoration">
                <h4>Settings</h4>
            </div>
		
	        <ul class="nav">
                <li><a href="/settings/account" >Account</a></li>
                <li><a href="/settings/profile">Profile</a></li>
                <li><a href="/settings/social" >Social</a></li>				
                <li><a href="/settings/notification"  class="active">Notifications</a></li>
            </ul>
	    </div>