  <div id="power">
    <svg id="circle" height="80" width="66" xmlns="http://www.w3.org/2000/svg">      
      <path fill="none"
            stroke="white"
            stroke-width="6"
            d="M 18 20 a 30,30 0 1 0 30,0" />
      <path fill="none"
            stroke="white"
            stroke-width="6"
            d="M 33,0 l 0,40" />
    </svg>
  </div>
  
  <style>
 #power {
  cursor: pointer;
  opacity: 0.2;
}

#power:hover {
  opacity: 1;
  transition: opacity 0.5s; 
} 
  </style>