<div class="questions ">
	    <% if( locals.ques) {%>
          <% for(var i=0; i<locals.ques.length; i++) {%>
            <li class="question" id="<%= locals.ques[i]._id %>" data-content="<%= locals.ques[i].que %>">
			        <%= locals.ques[i].que %>
		    </li>
          <% } %>
		<% } %>  		
</div>

<style>

.questions::-webkit-scrollbar {
  margin: 0;
   height: 10px;
    width: 10px;
    background-color: white;
    display: block !important;
}
 
.question::-webkit-scrollbar-track {
  margin: 0;
   height: 10px;
    width: 10px;
   background-color: white;
}
 
.questions::-webkit-scrollbar-thumb {
    margin: 0;
   height: 10px;
    width: 10px;
    background-color: #8a8a8a;
    opacity: 0.5;
    border-radius: 5px;
}

.questions{

	list-style: none;

}


.question {
		border-radius: 6px;
		opacity: 0.8;
		padding: 4px 25px;
  box-shadow:5px 5px 15px rgba(0,0,0,0.4),inset -1px -1px 1px  #fff;
}

</style>

<!--
.questions{
min-height: 450px;
}
-->